[submodule "openvr"]
	path = openvr
	url = ../../ValveSoftware/openvr.git
[submodule "vendor/openvr"]
	path = vendor/openvr
	url = ../../ValveSoftware/openvr.git
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = ../../zeux/pugixml.git
